/* public-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-weight: 300;
    src: url('../fonts/public-sans-v18-latin-300.woff2') format('woff2'); 
  }
  /* public-sans-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-weight: 400;
    src: url('../fonts/public-sans-v18-latin-regular.woff2') format('woff2'); 
  }
  /* public-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-weight: 500;
  src: url('../fonts/public-sans-v18-latin-500.woff2') format('woff2'); 
}
  /* public-sans-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-weight: 700;
    src: url('../fonts/public-sans-v18-latin-700.woff2') format('woff2'); 
  }

  $white-color: #FFFFFF;
  $white-color2: #FAFAFA;
  $white-color3: #F3F4F6;
  $silver-color: #9698A6;
  $violet-color: #2D314D;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  body {
    margin: 0;
    font-family: 'Public Sans';
    font-weight: 400;
    overflow-x: hidden;
  }

  .container {
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 24px;
  }

// Header start

.site-header {
  position: relative;
  padding-block: 30px;
  background-color: $white-color;
  font-size: 22px;
  line-height: 28px;
}

.site-header__inner {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.js-btn {
  border: none;
  background-color: transparent;
  display: none;
}

.sitenav__list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.sitenav__link {
  text-decoration: none;
  color: $silver-color;
}

.sitenav__item {
  font-size: 18px;
  line-height: 21.48px;
  color: $silver-color;
}

.collapse__link {
  text-decoration: none;
  padding: 13px 35px;
  background: linear-gradient(to right, #31D35C, #2BB7DB);
  border-radius: 50px;
  color: $white-color;
  font-size: 14px;
  line-height: 18.2px ;
}

.open .sitenav {
  display: block;
  visibility: visible;
  z-index: 5;
}

// Header responsive start

@media (min-width: 600px) and (max-width: 799px) {
  
  .site-header__inner {
    width: 100%;
    justify-content: space-between;
  }

  .js-btn {
    display: block;
    font-size: 24px;
    color: $violet-color;
  }

  .site-header {
    padding-block: 20px;
  }

  .sitenav {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    margin-inline: 16px 14px;
    width: 90.31%;
    height: 377%;
    border-radius: 10px;
    background-color: $white-color2;
    display: none;
  }

  .sitenav__list {
    flex-direction: column;
    gap: 20px;
  }

  .sitenav__item {
    font-weight: 500;
    font-size: 28px;
    line-height: 32.2px;
    color: $silver-color;
  
  }

  .collapse__wraper {
    display: none;
  }

  .collapse__link {
    display: none;
  }

  .site-header__icons {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 599px) {
  .site-header__inner {
    width: 100%;
    justify-content: space-between;
  }

  .js-btn {
    display: block;
    font-size: 24px;
    color: $violet-color;
  }

  .site-header {
    padding-block: 20px;
  }

  .sitenav {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    margin-inline: 16px 14px;
    width: 90.31%;
    height: 377%;
    border-radius: 10px;
    background-color: $white-color2;
    display: none;
  }

  .sitenav__list {
    flex-direction: column;
    gap: 20px;
  }

  .sitenav__item {
    font-weight: 500;
    font-size: 28px;
    line-height: 32.2px;
    color: $silver-color;
  
  }

  .collapse__wraper {
    display: none;
  }

  .collapse__link {
    display: none;
  }

  .site-header__icons {
    display: none;
  }
}


@media only screen and (max-width: 425px) {

  .site-header__inner {
    width: 100%;
    justify-content: space-between;
  }

  .js-btn {
    display: block;
    font-size: 24px;
    color: $violet-color;
  }

  .site-header {
    padding-block: 20px;
  }

  .sitenav {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    margin-inline: 16px 14px;
    width: 90.31%;
    height: 377%;
    border-radius: 10px;
    background-color: $white-color2;
    display: none;
  }

  .sitenav__list {
    flex-direction: column;
    gap: 20px;
    padding-block: 29px 0;
  }

  .sitenav__item {
    font-weight: 500;
    font-size: 28px;
    line-height: 22.2px;
    color: $silver-color;
  
  }

  .collapse__wraper {
    display: none;
  }
  .collapse__link {
    display: none;
  }

  .site-header__icons {
    display: none;
  }
}
// Header responsive end

// Header end
// Main start

// hero start

.hero {
  background-color: $white-color2;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__info {
  max-width: 424.8px;
  width: 100%;
  padding-block: 173px 176px;
}

.hero__tittle {
  font-weight: 300;
  max-width: 424.8px;
  width: 100%;
  margin-block: 0 24.6px;
  font-size: 52px;
  line-height: 59.8px;
  color: $violet-color;
}

.hero__text {
  max-width: 378px;
  width: 100%;
  font-weight: 300;
  margin-block: 0 36.4px;
  font-size: 16px;
  line-height: 27px;
  color: $silver-color;
}

.hero__link {
  text-decoration: none;
  padding: 13px 35px;
  background: linear-gradient(to right, #31D35C, #2BB7DB);
  border-radius: 50px;
  color: $white-color;
  font-size: 14px;
  line-height: 18.2px ;
}

.hero__desc {
  background-image: url("/imgs/hero_bgdesktop.svg");
  background-repeat: no-repeat;
  transform: translateX(160px);
}

.hero__bgdesktop {
  max-width: 653px;
  width: 100%;
}

.hero__mobile {
  display: none;
}

// hero responsive start

@media (min-width: 800px) and (max-width: 1099px) {

  .hero__tittle {
    font-size: 42px;
    line-height: 48px;
    text-align: start;
  }

  .hero__text {
    font-size: 16px;
    line-height: 26px;
  }
  .hero__desc {
    transform: translateX(0);
  }

}

@media (min-width: 600px) and (max-width: 799px) {
  
  .hero__tittle {
    font-size: 36px;
    line-height: 42px;
    text-align: start;
  }

  .hero__text {
    font-size: 13px;
    line-height: 22.2px;
  }

  .hero__desc {
    transform: translateX(0);
  }
}

@media (min-width: 600px) and (max-width: 634px) {
  .hero__tittle {
    font-size: 32px;
    line-height: 42px;
    text-align: start;
  }

  .hero__text {
    font-size: 12px;
    line-height: 22.2px;
  }

  .hero__desc {
    transform: translateX(0);
  }
}

@media (min-width: 541px) and (max-width: 599px) {

  .hero {
    background-color: $white-color;
 }

  .hero__wrapper {
    display: block;
    background-color: $white-color;
    height: 300px;
  }

  .hero__tittle {
    font-size: 22px;
    line-height: 26px;
    text-align: start;
    margin-bottom: 14px;
  }

  .hero__desc {
    display: block;
    max-width: 599px;
    width: 100%;
    background-image: url("/imgs/hero_bgmobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-670px) translateX(0px);
    object-fit: cover;
  }

  .hero__text {
    font-size: 10px;
    line-height: 24.2px;
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 420px;
    margin-inline: auto;
    padding-block: 0;
  }

  .hero__bgdesktop {
    display: none;
  }

  .hero__mobile {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .hero__tittle {
    font-size: 32.96px;
    line-height: 38.5px;
    text-align: center;
    color: $violet-color;
  }

  .hero__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 35.3px;
  }
}


@media (min-width: 426px) and (max-width: 540px) {

  .hero {
    background-color: $white-color;
 }

  .hero__wrapper {
    display: block;
    background-color: $white-color;
    height: 300px;
  }

  .hero__tittle {
    font-size: 22px;
    line-height: 26px;
    text-align: start;
    margin-bottom: 14px;
  }

  .hero__desc {
    display: block;
    max-width: 599px;
    width: 100%;
    background-image: url("/imgs/hero_bgmobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-600px) translateX(0px);
    object-fit: cover;
  }

  .hero__text {
    font-size: 10px;
    line-height: 24.2px;
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 353px;
    margin-inline: auto;
    padding-block: 0;
  }

  .hero__bgdesktop {
    display: none;
  }

  .hero__mobile {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .hero__tittle {
    font-size: 32.96px;
    line-height: 38.5px;
    text-align: center;
    color: $violet-color;
  }

  .hero__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 35.3px;
  }
}


@media only screen and (max-width: 425px) {

  .hero {
   background-color: $white-color;
}

  .hero__wrapper {
    display: block;
    background-color: $white-color;
    height: 300px;
  }

  .hero__desc {
    display: block;
    max-width: 390px;
    width: 120%;
    background-image: url("/imgs/hero_bgmobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(0) translateY(-214%);
    object-fit: cover;
  }

  .hero__info {
    display: block;
    margin-top: 353px;
    padding-block: 0;
  }

  .hero__bgdesktop {
    display: none;
  }

  .hero__mobile {
    display: block;
    object-fit: cover;
  }

  .hero__tittle {
    font-size: 36.96px;
    line-height: 42.5px;
    text-align: center;
    color: $violet-color;
  }

  .hero__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-block: 0 64.3px;
  }

  .hero__link {
    text-align: center;
    margin-left: 91px;
  }
}

// hero responsive end
// hero end

// template start

.temp {
  background-color: $white-color3;
}

.temp__tittle {
  margin-block: 0;
  padding-block: 105px 155.39px;
  font-weight: 300;
  font-size: 36px;
  line-height: 41.4px;
  color: $violet-color;
  text-align: start;
}

.temp__text {
  display: none;
  margin-block: 0;
}

.temp__list {
  display: flex;
  padding-bottom: 84.19px;
  list-style: none;
  margin-block: 0;
  padding-left: 0;
}

.temp__item {
 max-width: 265.5px;
 width: 100%;
 padding-inline: 15px 18.5px;
}

.tempitem__tittle {
  margin-block: 0;
  padding-block: 48.39px 36.03px;
  font-weight: 300;
  font-size: 24px;
  line-height: 27.6px;
  color: $violet-color;
}

.tempitem__text {
  max-width: 235.5px;
  width: 100%;
  font-weight: 300;
  margin-block: 0;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  color: $silver-color;
}

// template responsive start

@media (min-width: 800px) and (max-width: 1099px) {

  .temp__tittle {
    padding-block: 105px;
  }

  .temp__list {
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 60px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .temp__tittle {
    padding-block: 95px;
  }

  .temp__list {
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 40px;
  }
}

@media (min-width: 600px) and (max-width: 620px) {

  .temp__tittle {
    padding-block: 95px;
    text-align: start;
  }

  .temp__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
  }
}

@media (min-width: 426px) and (max-width: 599px) {

  .temp {
    background-color: $white-color3;
  }

  .temp__text {
    display: block;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 63px;
    color: $silver-color;
    text-align: center;
  }

  .temp__tittle {
    padding-block: 69px 24.39px;
    font-size: 34px;
    line-height: 38.5px;
    text-align: center;
  }

  .temp__list {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .tempitem__tittle {
    font-size: 20px;
    line-height: 23px;
  }

}

@media only screen and (max-width: 425px) {
  .temp {
    background-color: $white-color3;
  }

  .temp__text {
    display: block;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 63px;
    color: $silver-color;
    text-align: center;
  }

  .temp__tittle {
    padding-block: 69px 24.39px;
    font-size: 30px;
    line-height: 34.5px;
    text-align: center;
  }

  .temp__list {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .tempitem__tittle {
    font-size: 20px;
    line-height: 23px;
  }

}
// template responsive end
// template end

// description start

.desc {
  background-color: $white-color2;
}

.desc__wrapper {
  padding-block: 37px 154.34px;
}

.desc__tittle {
  margin-block: 0;
  padding-bottom: 37px;
  font-weight: 300;
  font-size: 36px;
  line-height: 41.4px;
  color: $violet-color;
}

.desc__list {
  display: flex;
  list-style: none;
  margin-block: 0;
  padding-left: 0;
  gap: 30px;
}

.descitem__wrapper {
  padding: 30px 24.83px 46.9px 24.98px;
}

.desc__item {
  border-radius: 5px;
  background-color: $white-color;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);

}

.descitem__spantittle {
  margin-block: 0;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  color: $silver-color;
}

.descitem__tittle { 
  margin-block: 0;
  padding-block: 13px 8px;
  font-weight: 300;
  font-size: 17.02px;
  line-height: 20.42px;
  color: $violet-color;
}

.descitem__text {
  margin-block: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16.9px;
  color: $silver-color;
}

// description responsive start

@media (min-width: 800px) and (max-width: 1099px) {

  .desc__list{
   justify-content: center;
   flex-wrap: wrap;
  }
  
  .desc__item {
    display: flex;
  }

  .descitem__spantittle {
    font-size: 12px;
    line-height: 14px;
  }

  .descitem__tittle {
    font-size: 20px;
    line-height: 26px;
  }

  .descitem__text {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .desc__list{
    justify-content: center;
    flex-wrap: wrap;
   }
   
   .desc__item {
     display: flex;
   }
 
   .descitem__spantittle {
     font-size: 12px;
     line-height: 14px;
   }
 
   .descitem__tittle {
    font-weight: 500;
     font-size: 14px;
     line-height: 26px;
   }
 
   .descitem__text {
     font-size: 14px;
   }
}

@media (min-width: 426px) and (max-width: 599px) {
  
  .desc__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .descitem__photo {
    width: 100%;
  }

  .desc__wrapper {
    padding-bottom: 70px;
  }

  .descitem__tittle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {

  .desc__list {
    flex-direction: column;
  }

  .descitem__photo {
    width: 100%;
  }

  .desc__wrapper {
    padding-bottom: 70px;
  }
}
// description responsive end
// description end
// Main end

// footer start

.footer {
  background-color: $violet-color;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 82px 81.75px;
}

.footer__inner {
  max-width: 583.06px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  margin-top: 10px;
}

.footer__icons {
  display: flex;
  gap: 20.33px;
  padding-top: 62px;
}

.footer__description {
  display: flex;
  max-width: 290px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16.75px;
  margin-block: 0;
  padding-left: 0px;
  list-style: none;
}

.footer__item {
  font-weight: 300;
  font-size: 15px;
  line-height: 33.75px;
  color: $white-color;
}

.footer__infolink {
  text-decoration: none;
}

.footeritem__link {
  text-decoration: none;
  color: $white-color;
}

.footer__privarcy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.footer__link {
  text-decoration: none;
  padding: 13px 35px;
  background: linear-gradient(to right, #31D35C, #2BB7DB);
  border-radius: 50px;
  color: $white-color;
  font-size: 14px;
  line-height: 18.2px ; 
}

.footer__text {
  margin-block: 0;
  padding-top: 23.36px;
  font-weight: 300;
  line-height: 16.9px;
  color: $silver-color;
  text-align: center;
}

// footer responsive start

@media (min-width: 800px) and (max-width: 1099px) {
  
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__privarcy {
    align-items: center;
    margin: 25px auto;
    margin-bottom: 0;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__privarcy {
    align-items: center;
    margin: 25px auto;
    margin-bottom: 0;
  }
}

@media (min-width: 426px) and (max-width: 599px) {
  .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 16px 60px 16px;
  }

  .footer__info {
    text-align: center;
    padding-top: 34.19px;
    margin-top: 0;
  }

  .footer__icons {
    padding-block: 34.19px 30px;
  }

  .footer__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__description {
    flex-direction: column;
    text-align: center;
    padding-bottom: 32.75px;
    gap: 16.75px;
  }

  .footer__privarcy {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 425px) {

  .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 16px 60px 16px;
  }

  .footer__info {
    text-align: center;
    padding-top: 34.19px;
    margin-top: 0;
  }

  .footer__icons {
    padding-block: 34.19px 30px;
  }

  .footer__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__description {
    flex-direction: column;
    text-align: center;
    padding-bottom: 32.75px;
    gap: 16.75px;
  }

  .footer__privarcy {
    flex-direction: column;
    align-items: center;
  }
}

// footer responsive end
// footer end